.Panel {
  background: lightgreen;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 0px 0px;
  grid-template-areas:
    "PanelTopBar"
    "PanelContent";
}

.PanelContent {
  background: lightblue;
  grid-area: PanelContent;
}

.PanelTopBar {
  background: lightyellow;
  display: grid;
  grid-template-columns: 1.7fr 0.3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "PanelTopBarLeft PanelTopBarRight";
  grid-area: PanelTopBar;
  align-items: center;
}

.PanelTopBarLeft {
  background: salmon;
  grid-area: PanelTopBarLeft;
}

.PanelTopBarRight {
  background: cyan;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
  grid-area: PanelTopBarRight;
  align-items: center;
}
